<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <!-- Ad Banner Section -->
    <div class="row mb-4">
      <div class="col-12">
        <div class="ad-banner p-2 bg-primary text-white text-center rounded">
          <h5 class="mb-0">Special Offers - Book Now and Save up to 30%!</h5>
        </div>
      </div>
    </div>
    
 <div class="row">
  <!-- Company Info -->
  <div class="col-md-4 mb-4 mb-md-0">
    <h5 class="mb-3">Smart Booking</h5>
    <p>Your one-stop solution for all travel needs. Book hotels, flights, trains, and cabs at the best prices.</p>
    <div class="d-flex mt-3">
      <a href="#" class="me-3 text-white"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="me-3 text-white"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" class="me-3 text-white"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>

      
      <!-- Quick Links -->
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a routerLink="/hotels" class="text-white text-decoration-none">Hotels</a></li>
          <li class="mb-2"><a routerLink="/flights" class="text-white text-decoration-none">Flights</a></li>
          <li class="mb-2"><a routerLink="/trains" class="text-white text-decoration-none">Trains</a></li>
          <li class="mb-2"><a routerLink="/cabs" class="text-white text-decoration-none">Cabs</a></li>
          <li class="mb-2"><a routerLink="/profile" class="text-white text-decoration-none">My Account</a></li>
        </ul>
      </div>
      
      <!-- Contact Info -->
      <div class="col-md-4">
        <h5 class="mb-3">Contact Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2 d-flex align-items-center">
            <mat-icon class="me-2">location_on</mat-icon> Shree Vinayak Street, Pune
          </li>
          <li class="mb-2 d-flex align-items-center">
            <mat-icon class="me-2">email</mat-icon> support@smartbooking.com
          </li>
          <li class="mb-2 d-flex align-items-center">
            <mat-icon class="me-2">phone</mat-icon> +1 234 567 8900
          </li>
        </ul>
      </div>
    </div>
    
    <!-- Copyright -->
    <div class="row mt-4 pt-3 border-top">
      <div class="col-12 text-center">
        <p class="mb-0">© {{currentYear}} Smart Booking. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>